body {
  margin-top: 30px;
  font-size: 150px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #E6E6FA;
}

body:hover {
  background-color: #000080;
  color: #FFFFFF;
}
